hello-world/src/main/mule/hello-world.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a7fb3f56-2b1f-4fe7-b0fb-11b5a3bbf391" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-worldFlow" doc:id="b79882b3-a6bf-42e4-b8f3-640337410f98" >
		<http:listener doc:name="Listener" doc:id="3fa7a8ab-0d50-41a3-8fc8-a25148554fa7" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["hello Mule World"]' doc:name="Set Payload" doc:id="1184f42f-7087-4521-b21f-511a70dc0cd9" />
		<logger level="INFO" doc:name="Logger" doc:id="0c7f8fae-481c-4041-b8c2-e666b16cc1ce" message='#[payload]'/>
	</flow>
</mule>
